body {
  background-size: cover;
  background-position: 1000, 1000;
}

h1 {
  color: white;
}

.bbttnn {
  font-size: 20px;
  width: 200px;
  border-radius: 100px;
}

canvas {
  border-radius: 20px;
  border: 2px solid white;
}
